/* Breaking point para smartphones (600px) */
@media screen and (max-width: 600px) {
    header{
        padding: 10px 0;
        font-size: 10px;
    }
    
    header h1{
        margin: 0;
    }

    #main{
        flex-direction: column;
    }
    #menu,
    #content{
        width: 100%;
    }

    #menu{
        padding: 10px 0;
    }

    #menu span{
        display: none;
    }


    /*FLEX
        FLEX-DIRECTION:ROW
        JUYSTIFY-CONTENT (HORIZONTAL)
        ALIGN-ITEMS (VERTICAL)

        FLEX-DIRECTION: COLUMN
        ALIGN-ITEMS(HORIZONTAL)
        JUSTIFY-COINTENT (VERTICAL)
    */

    #menu ul{
        display: flex;
        margin: 0;
       justify-content: center;
       gap: 30px;
    }

}